@model IEnumerable<Categoria>
@{ ViewBag.Title = "Gestão de Categoria"; }
<h1 class="mt-5">@ViewBag.Title</h1>

<br>

<div class="row text-right">
    <div class="col">
        <a class="btn btn-success" asp-action="AddEdit" asp-controller="Categoria" role="button">Adicionar Categoria</a>
    </div>
</div>

<br>

<div class="table-responsive-sm">
    <table id="myTableCategoria" class="table table-sm table-striped table-borderless table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="TrPr-@item.Id">
                    <th scope="row">@item.Id</th>
                    <td>@item.Nome</td>
                    <td>
                        <a class="btn btn-outline-warning te xt-white" href="@Url.Action("AddEdit", "Categoria", new { id = item.Id})" role="button">  <i class="fa fa-pencil fa-lg" aria-hidden="true"></i> </a>
                        &nbsp;
                        <a class="btn btn-outline-danger" href="@Url.Action("Excluir", "Categoria", new { id = item.Id})" role="button">  <i class="fa fa-trash fa-lg" aria-hidden="true"></i> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
