<div class="text-center">
    <br />
    <p>Transient1    : @ViewBag.Transient1</p>
    <p>Transient2    : @ViewBag.Transient1</p>
    <p>Transient3    : @ViewBag.Transient3</p>
    <br />
    <p>Scoped1       : @ViewBag.Scoped1</p>
    <p>Scoped2       : @ViewBag.Scoped2</p>
    <p>Scoped3       : @ViewBag.Scoped3</p>
    <br />
    <p>Singleton1    : @ViewBag.Singleton1</p>
    <p>Singleton2    : @ViewBag.Singleton2</p>
    <p>Singleton3    : @ViewBag.Singleton3</p>
    <br />
</div>
