<h1>@ViewBag.Title</h1>
<p>Erro, Trouxaaaaa - 2</p>
<br />
<p><span class="font-weight-bold">StatusCode:</span> @ViewBag.StatusCode</p>
<p><span class="font-weight-bold">UserAgent:</span> @ViewBag.UserAgent</p>
<p><span class="font-weight-bold">Path:</span> @ViewBag.Path</p>
<p><span class="font-weight-bold">ExceptionErro:</span> @ViewBag.ExceptionErro</p>